<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.erp_system_">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Erp System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Erp_SyStem_"
        tools:targetApi="31">
        <activity
            android:name=".ShowNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherShareNotice"
            android:exported="false" />
        <activity
            android:name=".AttendenceActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherUploadPdf"
            android:exported="false" />
        <activity
            android:name=".NewMainActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherCreateQuiz"
            android:exported="false" />
        <activity
            android:name=".TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".BeforeMainActivity"
            android:exported="false" />
        <activity
            android:name=".PdfActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherNotice"
            android:exported="false" />
        <activity
            android:name=".PortfolioInfoDialog"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Erp_SyStem_" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Erp_SyStem_" />
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.Erp_SyStem_" />
        <activity
            android:name=".OTPVerificationDialog"
            android:exported="false"
            android:theme="@style/Theme.Erp_SyStem_" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Erp_SyStem_" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Erp_SyStem_" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Erp System"
            android:theme="@style/Theme.Erp_SyStem_.NoActionBar" />
    </application>

</manifest>